<section>
    <div class="container">
        <div style="max-width: 750px; margin: 15px 180px">
            <div class="my-2">
                <small class="text-dark"><strong>Total Result : 256 </strong></small>
            </div>
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="../favicon.ico" class="card-img mt-3 ml-2 rounded-circle img-size" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">Varun</h5>
                            <p class="card-text">Profile URL :</p>
                            <small class="text-muted">Data One : </small><br>
                            <small class="text-muted">Data Two : </small>
                            <button type="button" class="btn btn-outline-primary float-right py-1 px-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">                        
                            <div class="collapse" id="collapseExample"><hr>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover table-borderless text-center">
                                            <thead>
                                                <tr> 
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr> 
                                                        <td>Shubham</td>
                                                        <td>Ambhore</td>
                                                </tr>
                                                <tr> 
                                                        <td>Shubham</td>
                                                        <td>Ambhore</td>
                                                </tr>
                                                <tr> 
                                                        <td>Shubham</td>
                                                        <td>Ambhore</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>
      
      
      
      
      
      
          